@import "variables";

// Folder / labels
.mail-label {
	color: @berend-text-color-ui !important;
	background: none !important;
	border: 1px solid @berend-border-medium !important;
	border-radius: @berend-border-radius;
	box-shadow: none !important;
	margin-right: 0;
	margin-left: @berend-padding-label-spacing;
	font-size: @berend-font-size-tiny;
	transition: color @berend-transition-time, border-color @berend-transition-time;
	padding: 0 6px;
	order: 1; /* Behind subject in threads list, before print icon in message list */
	-webkit-filter: none !important;
	&.removable {}
	img.content-mask {
		background-color: @berend-medium-grey !important;
		cursor: pointer;
	}
}

// Popover (such as the label/folder picker)
.popover {
	input.search {
		background-position: 10px center !important;
		background-size: 12px 12px !important;
	}
}

// Dropdown (such as the reply/forward button)
.button-dropdown.bordered > * {
	img.content-mask {
		transition: background-color @berend-transition-time;
	}
	&:hover img.content-mask {
		background-color: @berend-dark-grey;
	}
}
// Left button
.button-dropdown.bordered .primary-item,
.button-dropdown.bordered .only-item {
	border-radius: @berend-border-radius 0 0 @berend-border-radius;
	box-shadow: none !important;
	border: 1px solid @berend-border-medium;
	padding: 0 @berend-padding-small;
	line-height: 30px;
}
// Arrow
.button-dropdown .secondary-picker {
	border-radius: 0 @berend-border-radius @berend-border-radius 0;
	background: none;
	box-shadow: none !important;
	border: 1px solid @berend-border-medium;
	border-left: 0;
}
// List
.button-dropdown .secondary-items {}
